.card:hover {
  box-shadow: inset;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.card {
  cursor: pointer;
  background-color: rgb(27, 25, 24);
  width: 14rem;
  margin: 10px;
  background: rgb(249, 249, 249) !important;
  border: none !important;
}
.card-text {
  margin-bottom: 0px !important;
}
.header {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 100px;
}
.nav-items > ul {
  display: flex;
  list-style: none;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
